@media only screen and (min-device-width: 500px)
{
    body > .sections > .competences {
        background: linear-gradient(to bottom, #00308a, #79191960), url('../images/panorama.jpg') no-repeat center center; 
    }
}

@media only screen and (max-device-width: 500px)
{
    body > .sections > .competences {
        background: linear-gradient(to bottom, #00308a, #79191960), url('../images/escaliers.jpg') no-repeat center center; 
    }
}

body > .sections > .competences h1 {
    color: white;
    text-shadow: 0px 0px 2px white;
    margin-top: 50px;
}

body > .sections > .competences h3 {
    margin: 0;
}

body > .sections > .competences .competenceUnique {
    width: 200px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

body > .sections > .competences .competenceUnique h3 {
    display: none;
    
}

body > .sections > .competences .competenceUnique:hover h3 {
    display: block;
    position: absolute;
    background-color: #eee;
    border-radius: 10px;
    color: black;
    padding: 5px;
    border: black solid 4px;
    box-shadow: 0px 0px 4px 0px black;
}

body > .sections > .competences .competenceUnique img {
    position: inherit;
    padding: 10%;
    width: 90%;
    transition: all 0.3s;
}

body > .sections > .competences .competenceUnique:hover img {
    transform: scale(110%);
}

body > .sections > .competences .ListeCompetences {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 30px;
    padding-bottom: 30px;
}