body > .sections > .experiences {
    background: linear-gradient(to bottom, var(--cv-light-red), var(--cv-dark-green)); 
}

body > .sections > .experiences h1 {
    margin-top: 50px;
    text-align: center;
}

body > .sections > .experiences > .accordion {
    padding: 30px;
}

.accordion-button {
    color: #eee;
    background-color: var(--cv-light-green);
}

.accordion-button:focus{
    box-shadow: 0 0 0 0.25rem #00205b52;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    font-weight: bold;
    background-color: var(--cv-dark-green);
}

.accordion-button::after {
    background-image: url(../images/chevron-xp.svg)!important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/chevron-xp.svg)!important;
    transform: rotate(-180deg)!important;
}

.accordion-body {
    background-color: var(--cv-light-red);
}

